<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src ="main.ctrl.js"></script>
  </head>
  <body ng-app="app" ng-controller="MainController as main">
    <div class="container">
      <h1>{{main.title}}</h1>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class='form-control' ng-model="main.searchInput">
      </div>
      <h3>A list of TV shows</h3>
      <ul class="list-group">
        <li class="list-group-items" ng-repeat="show in main.shows | filter:main.searchInput | orderBy:main.order.key:main.order.reverse"><span class="glyphicon glyphicon-star" ng-if="show.favorite"></span> {{show.title}} <span class="badge">{{show.rating}}</span><span class="btn btn-info">{{show.year}}</span></li>
      </ul>
      <select  class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
    </div>
  </body>
</html>
